.menu2{
	width:30%;
	height:200px;
	background-color:red;
}

.logo{
	width:30%;
	height:200px;
	background-color:brown;
}
.menu{
	width:30%;
	height:200px;
	background-color:green;
}
.header{
	display:flex;
}
.menu3{
	width:10%;
	height:200px;
	background-color:yellow;
}
