h1,a,span{
	background-color:aqua;
}
ul li{
	display:inline;
	margin-right:20px;
}
ul li:hover{
	color:green;
	background-color:yellow;
}
.active{
	color:red;
}
img{
	display:flex;
	height:100px;
	width:100px;
}
.picture{
	display:flex;
}
input{
	display:inline;
	width:30%;
}
.picture img{
	display:inline;
}
.header{
	display:flex;
}